@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@import "aos/dist/aos.css";

@plugin "daisyui";

/* =========================
   GLOBAL BASE STYLES
========================= */

@layer base {
  * {
    font-family: "Roboto", sans-serif;
  }

  body {
    background-color: #FFFFFF;
    color: #2F2B3DE6;
  }
}

/* =========================
   LIGHT THEME VARIABLES
========================= */

:root {
    --color-primary: #1DAA61;
    --color-primary-content: #000000bf;
    --color-secondary: #E1E1E4;
    --color-secondary-content: #FFFFFF;
    --color-accent: #E5E7EB;
    --color-accent-content: #E5E7EB;
    --color-neutral: #F3F4F6;
    --color-neutral-content: #FFFFFF;
    --color-base-100: #F7F5F3;
    --color-base-200: #FFFFFF;
    --color-base-300: #F2EFED;
    --color-base-content: #2F2B3DE6;
    --color-info: #139451;
    --color-info-content: #FFFFFF;
    --color-success: #4CAF50;
    --color-success-content: #FFFFFF;
    --color-warning: #FBBD23;
    --color-warning-content: #FFFFFF;
    --color-error: #fb2c36e8;
    --color-error-content: #FFFFFF;
}

/* =========================
   DARK THEME VARIABLES
========================= */

[data-theme="dark"] {
    --color-primary: #1DAA61;
    --color-primary-light: #CBF2DC;
    --color-primary-hover: #137241;
    --color-primary-content: #ffffff;

    --color-secondary: #393C64;
    --color-secondary-content: #ffffff;

    --color-accent: #9CA3AF;
    --color-accent-content: #111827;

    --color-neutral: #737789;
    --color-neutral-content: #FFFFFF;

    --color-base-100: #242424;
    --color-base-200: #1C1C21;
    --color-base-300: #1E2235;
    --color-base-content: #E5E7EB;

    --color-info: #3ABFF8;
    --color-info-content: #000000;

    --color-success: #36D399;
    --color-success-content: #000000;

    --color-warning: #FBBF24;
    --color-warning-content: #000000;

    --color-error: #F87272;
    --color-error-light: #3B1E1E;
    --color-error-content: #000000;
}

/* =========================
   CUSTOM CLASSES
========================= */

.nav-icon {
    font-size: 20px;
    color: var(--color-primary);
}

.btn {
    background-color: var(--color-primary);
    color: white;
    border: none;
}

.btn:hover {
    background-color: var(--color-success);
}

.linkClass {
    color: #5b5bfd;
    font-weight: 700;
}

.linkClass:hover {
    text-decoration: underline;
}

.labelClass {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
    color: var(--color-primary-content);
}

.inputClass {
    width: 100%;
    margin-top: 8px;
    height: 40px;
    background-color: var(--color-base-200);
    border: 1px solid var(--color-primary);
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    color: var(--color-primary-content);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.inputClass:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 1px var(--color-primary);
}

/* Animations */

.slide-in {
    animation: slideIn 0.3s ease-out forwards;
}

@keyframes slideIn {
    from { transform: translateX(100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

.slide-out {
    animation: slideOut 0.3s ease-in forwards;
}

@keyframes slideOut {
    from { transform: translateX(0); opacity: 1; }
    to { transform: translateX(100%); opacity: 0; }
}